/* Global */
.cursor__pointer {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #0f76e4b6;
  border-radius: 0;
  outline: none;
  border: 2px solid transparent;
  background-clip: padding-box;
}

/* ===================================================== */
/* ============ CHALLENGE SOLVING BOARD ================ */
/* ===================================================== */
.middle__touch__resizer,
.challenge__scrollable__content,
.challenge__solving__board {
  height: calc(100vh - 56px);
}

.challenge__scrollable__content {
  overflow-y: auto;
}

.challenge__resizable {
  /* border-right: 1px solid grey; */
  position: relative;
}

.middle__touch__resizer {
  font-size: 1.2em;
  padding: 0px;
  border-right: 1px solid rgba(177, 174, 174, 0.5);
  border-left: 1px solid rgb(177, 174, 174, 0.5);
  position: relative;
  left: -2px;
  background-color: white;
}

.middle__touch__resizer .column__dots {
  position: relative;
  left: -1px;
  top: -50px;
  padding: 0px 1px;
}

.challenge__bottom__navbar {
  flex-grow: 1;
  padding: 4px 10px;
}

/* ================================================================================= */
/* ================================================================================= */
/* ================================= LIBRARY RELATED =============================== */
/* ================================================================================= */
/* ================================================================================= */
/* ===================================================== */
/* ============ CODEMIRROR EDITOR LIBRARY ================ */
/* ===================================================== */
.CodeMirror-h-100,
.CodeMirror-h-100 .CodeMirror {
  height: 100%;
}

.cm-s-material .CodeMirror-scrollbar-filler {
  background-color: #263238;
}

/* 30px kamroq */
.h-100-50px {
  height: calc(100% - 50px);
}

.h-100-50px .CodeMirror {
  height: 100%;
}
