/* Global */
.cursor__pointer {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #0f76e4b6;
  border-radius: 0;
  outline: none;
  border: 2px solid transparent;
  background-clip: padding-box;
}

/* ===================================================== */
/* ============ CHALLENGE SOLVING BOARD ================ */
/* ===================================================== */
@media (min-width: 576px) {
  .middle__touch__resizer,
  .challenge__scrollable__content,
  .challenge__solving__board {
    height: calc(100vh - 56px);
  }
}

.challenge__scrollable__content {
  overflow-y: auto;
}

.challenge__resizable {
  position: relative;
}

.middle__touch__resizer {
  font-size: 1.2em;
  padding: 0px;
  border-right: 1px solid rgba(177, 174, 174, 0.5);
  border-left: 1px solid rgb(177, 174, 174, 0.5);
}

.middle__touch__resizer .column__dots {
  position: relative;
  top: -50px;
  z-index: -1;
}

.challenge__bottom__navbar {
  flex-grow: 1;
  padding: 5px 10px;
}

.challenge__quest__example {
  font-size: 0.9em;
}

.challenge__code__response__show {
  height: 100px;
  overflow-y: auto;
}

/* ================================================================================= */
/* ================================================================================= */
/* ================================= LIBRARY RELATED =============================== */
/* ================================================================================= */
/* ================================================================================= */
/* ===================================================== */
/* ============ CODEMIRROR EDITOR LIBRARY ================ */
/* ===================================================== */

.cm-s-material .CodeMirror-scrollbar-filler {
  background-color: #263238;
}

/* 30px kamroq */

@media (min-width: 576px) {
  .h-sm-100-50px {
    height: calc(100% - 50px);
  }

  .h-sm-100-50px .CodeMirror {
    height: 100%;
  }
  .CodeMirror-h-sm-100,
  .CodeMirror-h-sm-100 .CodeMirror {
    height: 100%;
  }
}
